.current-game-info-line {
    background: #008abf;
}
.list-games-casino-view-b:hover .game-name-b-favorite {
    color: #ffffff;
    background: #052b46;
    font-weight: 700;
}
.casino-resize-buttons>div button {
    font-weight: 600;
}
