/* aggelos changes */

/* casino top image fullwidth */
@media only screen and (min-width:1281px) {
.casino-top-slider-wrapper {
  width: 100vw;
  margin: 0px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  float:none!important;
}

.providers-nav-casino {
    width: 100vw;
    margin-left: -16vw;
    margin-right: -35vw;
	float:none;
}
.search-category-nav-contain {
    position: absolute;
    top: 50%;
    left: 15vw;
    width: 210px;
    box-sizing: border-box;
    transform: translate3d(0,0,0);
}
}




.all-casino-games-box {
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin:0px;
    position: relative;
    z-index: 33;
}

 /* icons orientation live>dashboard */
.sport-icon-v3 {
    top: -6px;
}

/* filters in casino */
.providers-nav-casino>ul>li>a {
    color: #fafafa;
   
}
.providers-nav-casino>ul>li>a:hover { 
    font-weight:600;
}

/* categories casino fonts size */
.left-column-casino-nav>ul>li {
    border-bottom: 1px solid #e9edf0;
    color: #818181;
    font: 14px/40px Arial,Helvetica,sans-serif;
    padding: 0 15px;
}


.live-game-container .game-info.game-cyberfootball .game-score.soccer-template, .live-game-container .game-info.game-soccer .game-score.soccer-template, .live-game-container .game-info.game-soccer .outright-template {
    background-image: url(../images/scorebg.jpg);
    background-position: 50% 0%;
    color: #fff;
}

.body-wrapper.homepage .lmb-sport-select-j {
    margin: 0;
    height: 42px;
}
