.providers-nav-casino.closed {
    animation: provider-closed-animate-b 280ms ease;
    max-height: 42px;
}


@media only screen and (min-width: 1700px)
.providers-nav-casino>ul {
    max-width: calc(100% - 100px);
}
