








.cashout-icon-market-v3:before {
    box-sizing: border-box;
    content: url(../images/icon_cashout.png)!important;
    color: #028947;
}


.market-title-v3>.arrow-view-v3 {
    padding-right: 4px;
}

.icon-separator-v3 {
    color: #899bad;
}

.favorite-icon-market-v3:before {
    color: #899bad;
}

.market-icons-view-v3>ul>li {
    border-right: 1px solid rgba(96, 107, 117, 0.25);
}

.market-icons-view-v3>ul {
    box-sizing: border-box;
    float: right;
    padding: 1px 0 3px;
    display: table;
}

.market-icons-view-v3>ul>li {
    min-width: 35px;
    font: 12px/20px Roboto,sans-serif;
    padding: 0px 8px;
    color: #7a94ad;
}


.sports-item-v3:hover .arrow-view-v3 {
    box-sizing: border-box;
    color: #96afc5;
}


.block-slider.popup .register-information-b>h2 {
    color: #00b0f0;
}

.arrow-view-v3 {
    color: rgba(155, 174, 197, 0);
}

