.button-sign:disabled, .cashier-button button:disabled {
    background: #777;
    color: #222;
}

.settings-info-contain .chekcbox-j label input+span:before {
    background-color: #565656;
}

.closed-game-icon-v3 {
    font: 8px/30px icomoon;
}

.mini-header-p {
    float: left;
    width: 100%;
    height: 28px;
    background: #2a343e;
    box-sizing: border-box;
}

.mini-block-close-p {
    color: #cacaca;
}

.mini-select-p {
    background: #2a343e;
}

.bet-info-list-separator-b>ul>li.bet-odds-info-column {
    width: 100px;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    background: #2a343e;
}

.bet-info-list-separator-b>ul>li.bet-odds-info-column>span {
    color: #ffb703;
    font: 12px/36px Arial,Helvetica,sans-serif;
    font-weight: 700;
}

.right-block-news span {
    color: #cecece;
    font: 12px/16px Arial,Helvetica,sans-serif;
    font-weight: 700;
    width: 100%;
}

.header-nav-contain {
    text-align: left;
}

.contain-footer-block .payment-content-block>ul {
    background: url(../images/custom-footer-sprite7893.png) no-repeat 50% 50%;
}

.single-bet-maxbet-view-v3 {
    font: 11px/30px Roboto,sans-serif;
    color: #ccc;
}

.single-bet-stake-repeat-v3>i {
    box-shadow: -1px 0 0 #052b46 inset;
    color: #ccc;
}

.bet-win-view-v3>span {
    color: #00da83;
}

.arrow-rotate-filter-v3 {
    color: #939393;
}

.footer-button.footer-button-open {
    background: #00b0f0;
}

.footer-j .footer-nav-b ul li a {
    color: #b3b3b3;
}

.prematch-header-row-v3>ul>li>p {
    color: #ababab;
}

.prematch-header-row-v3>ul>li:first-child {
    border-right: 1px solid #455c6c;
}

.status-icon-separator-b {
    color: #aaa;
}
.game-additional-info-v3 {
    margin: -2px 0 5px;
}


.register-contain-new {
    float: none;
    width: 100%;
}

.logo-form-b {
    float: left;
    width: 768px;
    height: 178px;
    background: url(../images/signin_header.jpg) no-repeat 0 0px/contain;
    background-position: 0;
    background-size: contain;
    margin: -30px -30px 0px;
}


.register-steps-b {
    float: right;
    width: 768px;
    display: block;
    background: url(../images/1colorpixel.jpg);
    background-position: left;
    background-color: #2a343e;
    background-repeat: no-repeat;
    margin: 20px 0;
}
.backgammon .headerVersion_2 .conteiner, .belote .headerVersion_2 .conteiner, .external .headerVersion_2 .conteiner, .fantasy .headerVersion_2 .conteiner, .first_deposit_bonus .headerVersion_2 .conteiner, .first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner, .gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner, .games .headerVersion_2 .conteiner, .gameslanding .headerVersion_2 .conteiner, .livedealer .headerVersion_2 .conteiner, .poker .headerVersion_2 .conteiner, .pokerklas .headerVersion_2 .conteiner, .poolbetting .headerVersion_2 .conteiner {
    background: #052b46!important;
}
.backgammon .headerVersion_2 .conteiner:before, .belote .headerVersion_2 .conteiner:before, .external .headerVersion_2 .conteiner:before, .fantasy .headerVersion_2 .conteiner:before, .first_deposit_bonus .headerVersion_2 .conteiner:before, .first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner:before, .gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner:before, .games .headerVersion_2 .conteiner:before, .gameslanding .headerVersion_2 .conteiner:before, .livedealer .headerVersion_2 .conteiner:before, .poker .headerVersion_2 .conteiner:before, .pokerklas .headerVersion_2 .conteiner:before, .poolbetting .headerVersion_2 .conteiner:before {
    content: "";
    height: 40px;
    display: block;
    position: absolute;
    width: 100%;
    background: #052b46!important;
    left: 0;
    bottom: 0;
    border-bottom: solid 2px #052B45!important;
}
.backgammon .headerVersion_2 .conteiner.show-fix:after, .backgammon .headerVersion_2 .conteiner.show-game:after, .belote .headerVersion_2 .conteiner.show-fix:after, .belote .headerVersion_2 .conteiner.show-game:after, .external .headerVersion_2 .conteiner.show-fix:after, .external .headerVersion_2 .conteiner.show-game:after, .fantasy .headerVersion_2 .conteiner.show-fix:after, .fantasy .headerVersion_2 .conteiner.show-game:after, .first_deposit_bonus .headerVersion_2 .conteiner.show-fix:after, .first_deposit_bonus .headerVersion_2 .conteiner.show-game:after, .first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner.show-fix:after, .first_deposit_bonus_and_20_free_spins .headerVersion_2 .conteiner.show-game:after, .gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner.show-fix:after, .gameCSB1providerCSBexid152000 .headerVersion_2 .conteiner.show-game:after, .games .headerVersion_2 .conteiner.show-fix:after, .games .headerVersion_2 .conteiner.show-game:after, .gameslanding .headerVersion_2 .conteiner.show-fix:after, .gameslanding .headerVersion_2 .conteiner.show-game:after, .livedealer .headerVersion_2 .conteiner.show-fix:after, .livedealer .headerVersion_2 .conteiner.show-game:after, .poker .headerVersion_2 .conteiner.show-fix:after, .poker .headerVersion_2 .conteiner.show-game:after, .pokerklas .headerVersion_2 .conteiner.show-fix:after, .pokerklas .headerVersion_2 .conteiner.show-game:after, .poolbetting .headerVersion_2 .conteiner.show-fix:after, .poolbetting .headerVersion_2 .conteiner.show-game:after {
    content: "";
    height: 36px;
    display: block;
    position: absolute;
    width: 100%;
    background: #052b46!important;
    left: 0;
    top: 0;
}
